@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #1d2025;
    --text-color: #111;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    position: relative;
    width: 40rem;
    height: 7rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.navigation .nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation .nav-list .list {
    width: 7rem;
    height: 7rem;
    z-index: 10;
}

.navigation .nav-list .list .nav-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    line-height: 7rem;
}

.navigation .nav-list .list .nav-link .icon {
    font-size: 2rem;
    color: var(--text-color);
    transition: transform 0.5s ease;
}
.navigation .nav-list .list.active .nav-link .icon {
    transform: translateY(-3.2rem);
}

.navigation .nav-list .list .nav-link .text {
    position: absolute;
    font-size: 1.3rem;
    font-weight: 600;
    transform: translateY(2rem);
    opacity: 0;
    transition: all 0.5s ease;
}
.navigation .nav-list .list.active .nav-link .text {
    opacity: 1;
    transform: translateY(1rem);
}

.indicator {
    position: absolute;
    top: -50%;
    left: 0;
    width: 7rem;
    height: 7rem;
    background-color: #0acf0a;
    border-radius: 50%;
    border: 0.6rem solid var(--bg-color);
    transition: transform 0.5s ease;
}
.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2.2rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-top-right-radius: 2rem;
    box-shadow: 0.1rem -1rem 0 0 var(--bg-color);
}
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -2.2rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-top-left-radius: 2rem;
    box-shadow: -0.1rem -1rem 0 0 var(--bg-color);
}

.navigation .nav-list .list:nth-child(1).active ~ .indicator {
    transform: translateX(calc(7rem * 0));
}
.navigation .nav-list .list:nth-child(2).active ~ .indicator {
    transform: translateX(calc(7rem * 1));
}
.navigation .nav-list .list:nth-child(3).active ~ .indicator {
    transform: translateX(calc(7rem * 2));
}
.navigation .nav-list .list:nth-child(4).active ~ .indicator {
    transform: translateX(calc(7rem * 3));
}
.navigation .nav-list .list:nth-child(5).active ~ .indicator {
    transform: translateX(calc(7rem * 4));
}